// Frontend/.babelrc
{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }], // For Jest environment
    ["@babel/preset-react", { "runtime": "automatic" }]      // For React JSX
  ]
}
